.container-fluid
  .row
    .col-sm-2
      #about-img 
    .col-sm-2
  
    .col-sm-8
      %h1.post-title About
      %p
        Howdy!  My name is Kevin Huynh, and I'm a software engineer in Los Angeles.  I am responsible for all of the outrageousness you'll read here.  As of this writing, I have zero outrageousness penned, but anticipate talking about the many things I love.  This will likely be nerdy things like Vim, and Ruby on Rails, to nerdier things like playing piano and composing music, to hipster things like buying antique typewriters I'll never use.  In my free time, I play a lot of ping pong.  I am also a big fan of Dim Sum.  

      .post-symbol-sm.text-center
        ۺ

      %br
      %h3.post-title What's with the trees?
      %p 
        One time I felt existential and read a Robert Frost poem in which he wrote:
        .well
          <i>The woods are lovely, dark and deep, <br />but I have promises to keep, <br />and miles to go before I sleep,  <br />and miles to go before I sleep.  <br /></i> 
        And in one fell swoop I was captivated by these words.  So much so that I had to find the best free stock photo of woods that I could find, and slap it conspicously on my blog without any context. 
  
      %br
      %h3.post-title Netflix Queue?
      %p
        I am late to the scene, but just started watching <i>Roswell</i>.
  
  
      %br
      %h3.post-title What is the most beautiful sentence?
      %p
        .well
          <i>The heaventree of stars hung with humid nightblue fruit.</i>
     
       
      %br
      %h3.post-title Contact 
      %p
        You can find me on <a href="https://twitter.com/Heeepster">Twitter</a> or reach me at <a href="mailto:mail@heepster.info" target="_pop">mail@heepster.info</a>.
        
