#banner
  #banner-container
    #banner-heepster
      = link_to 'Heepster', root_path
    #banner-about
      I am a professional millennial.  Read more about me
      = link_to 'here.', about_path 
      

